.axis path {
    fill: none;
    stroke: black;
}

.axis {
    font-size: 8pt;
    font-family: sans-serif;
}

.tick {
    fill: none;
    stroke: black;
}

line {
    stroke: black;
    opacity: 0.4;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

.table-fixed {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

.table-fixed thead {
    background-color: #282828;
    color: white;
}

.table-fixed thead, .table-fixed tbody {
    display: block;
}

.table-fixed tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}

.table-fixed td, .table-fixed th {
    min-width: 100px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.full_w {
    width: 100%;
}

body {
    overflow-y: scroll;
}