.axis path {
    fill: none;
    stroke: black;
}

.axis {
    font-size: 8pt;
    font-family: sans-serif;
}

.tick {
    fill: none;
    stroke: black;
}

line {
    stroke: black;
    opacity: 0.4;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

.d3-table {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

.d3-table thead {
    background-color: #282828;
    color: white;
}

.d3-table thead, .d3-table tbody {
    display: block;
}

.d3-tabletbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
}

.d3-table td,.d3-table th {
    min-width: 100px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.full_w { width: 100%; }